# ðŸ§® 100 NumPy Exercises with Solutions
**Author:** DAKACH OTMAN  
**Platform:** Google Colab  
**Description:**  
This notebook contains 100 exercises on NumPy â€” from beginner to advanced level â€” each followed by a detailed Python solution.

In [ ]:
import numpy as np #run this first

### Exercise 1:

Create a 1D array with values ranging from 0 to 9.

In [ ]:
a=np.arange(10)
a

### Exercise 2:

Convert a 1D array to a 2D array with 2 rows.

In [ ]:
np.reshape(a,(2,5))

### Exercise 3:

Multiply a 5x3 matrix by a 3x2 matrix.

In [ ]:
a=np.random.randint(0,10,(5,3))
b=np.random.randint(0,10,(3,2))
print(a,"\n\n",b,"\n\n")
a@b#or np.dot(a,b)

### Exercise 4:

Extract all odd numbers from an array of 1-10.

In [ ]:
a=np.arange(1,11)
a[a%2!=0]

### Exercise 5:

Replace all odd numbers in an array of 1-10 with -1.

In [ ]:
a[a%2!=0]=-1
a

### Exercise 6:

Convert a 1D array to a boolean array where all positive values become True.

In [ ]:
a=np.array([2,-2,-6,1,12,-3,0,1,1,-1])
a>0

### Exercise 7:

Replace all even numbers in a 1D array with their negative.

In [ ]:
a=np.arange(1,10)
a[a%2==0]*=-1
a

### Exercise 8:

Create a random 3x3 matrix and normalize it.

In [ ]:
a=np.random.random((3,3))
(a-np.mean(a))/np.std(a)

### Exercise 9:

Calculate the sum of the diagonal elements of a 3x3 matrix.

In [ ]:
a=np.random.randint(1,10,(3,3))
a

In [ ]:
np.trace(a)

### Exercise 10:

Find the indices of non-zero elements from [1,2,0,0,4,0].

In [ ]:
a=np.array([1,2,0,0,4,0])
np.nonzero(a)

### Exercise 11:

Reverse a 1D array (first element becomes the last).

In [ ]:
a=np.array([1,2,3,4,5])
a[0],a[-1]=a[-1],a[0]#or use np.flip(a)
a

In [ ]:
a=np.array([2,4,6,3,5,0])
np.flip(a)

### Exercise 12:

Create a 3x3 identity matrix.

In [ ]:
np.eye(3)

### Exercise 13:

Reshape a 1D array to a 2D array with 5 rows and 2 columns.

In [ ]:
a=np.arange(10)
np.reshape(a,(5,2))

### Exercise 14:

Stack two arrays vertically.

In [ ]:
a=np.array([[1,2],[3,4]])
b=np.array([[5,6],[7,8]])
print(a,"\n\n",b)

In [ ]:
np.vstack((a,b))

### Exercise 15:

Get the common items between two arrays.

In [ ]:
a=np.array([1,2,3,4])
b=np.array([3,6,8,1])
np.intersect1d(a,b)

### Exercise 16:

Create a 5x5 matrix with row values ranging from 0 to 4.

In [ ]:
a=np.zeros((5,5))
a[:,]+=range(5)
a

### Exercise 17:

Find the index of the maximum value in a 1D array.

In [ ]:
a=np.array([1,2,6,3,4,0])
np.where(a==max(a))#or np.argmax(a)

### Exercise 18:

Normalize the values in a 1D array between 0 and 1.

In [ ]:
arr = np.array([2, 5, 10, 3, 8])
(arr - np.min(arr)) / (np.max(arr) - np.min(arr))

### Exercise 19:

Calculate the dot product of two arrays.

In [ ]:
a=np.array([[1,2],[3,4]])
b=np.array([[5,6],[7,8]])
np.dot(a,b)

### Exercise 20:

Count the number of elements in an array within a specific range.

In [ ]:
a=np.array([2, 5, 8, 10, 12, 15])
np.sum((a >= 5) & (a <= 12))# range [5,12]

### Exercise 21:

Find the mean of each row in a 2D array.

In [ ]:
a=np.array([[1,2],[3,4]])
np.mean(a,axis=1)

### Exercise 22:

Create a random 4x4 matrix and extract the diagonal elements.

In [ ]:
a=np.random.random((4,4))
np.diagonal(a)# or a[range(4),range(4)]

### Exercise 23:

Count the number of occurrences of a specific value in an array.

In [ ]:
a=np.array([1,2,3,1,1,55,1])
np.sum(a==1)# or np.count_nonzero(a == 2)

### Exercise 24:

Replace all values in a 1D array with the mean of the array.

In [ ]:
a=np.array([1,5,6,0,4],dtype=float)
a[:]=np.mean(a)
a

### Exercise 25:

Find the indices of the maximum and minimum values in a 1D array.

In [ ]:
a=np.array([1,5,6,0,4])
max_index = np.max(a)
min_index = np.min(a)
print("Index of max:", max_index)
print("Index of min:", min_index)

### Exercise 26:

Create a 2D array with 1 on the border and 0 inside.

In [ ]:
a=np.ones((4,4))
a[1:-1,1:-1]=0
a

### Exercise 27:

Find the unique values and their counts in a 1D array.

In [ ]:
arr = np.array([1, 2, 3, 2, 4, 1, 5, 4, 6])
unique_values, counts = np.unique(arr, return_counts=True)
print("Unique values:", unique_values)
print("Counts:", counts)

### Exercise 28:

Create a 3x3 matrix with values ranging from 0 to 8.

In [ ]:
a=np.arange(9).reshape((3,3))
a

### Exercise 29:

Calculate the exponential of all elements in a 1D array.

In [ ]:
arr = np.array([1, 2, 3, 2, 4, 1, 5, 4, 6])
np.exp(arr)

### Exercise 30:

Swap two rows in a 2D array.

In [ ]:
z=np.arange(9).reshape((3,3))
z

In [ ]:
z[[0,1]]=z[[1,0]]
z

### Exercise 31:

Create a random 3x3 matrix and replace all values greater than 0.5 with 1 and all others with 0.

In [ ]:
a=np.random.random((3,3))
a

In [ ]:
np.where(a>0.5,1,0) # or np.around(a,0)

### Exercise 32:

Find the indices of the top N maximum values in a 1D array.

In [ ]:
a = np.array([10, 5, 8, 20, 15])
np.argsort(a)[-2:]  # Replace 2 with desired top N

### Exercise 33:

Calculate the mean of each column in a 2D array.

In [ ]:
a=np.arange(9).reshape((3,3))
a

In [ ]:
a.mean(axis=0)

### Exercise 34:

Normalize the values in each column of a 2D array.

In [ ]:
a=np.arange(12).reshape((4,3))
a

In [ ]:
(a-np.mean(a,axis=0))/(np.std(a,axis=0))

### Exercise 35:

Concatenate two 1D arrays.

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate((a,b))

### Exercise 36:

Create a 2D array with random values and sort each row.

In [ ]:
a=np.random.random((3,3))
a

In [ ]:
a.sort(axis=1)
a

### Exercise 37:

Compute the mean squared error between two arrays.

In [ ]:
a= np.array([1, 2, 3, 4])
b= np.array([2, 3, 4, 5])
((a-b)**2).mean()

### Exercise 38:

Replace all negative values in an array with 0.

In [ ]:
a = np.array([-1, 2, -3, 4, -5])
a[a<0]=0# or np.where(a<0,0,a)
a

### Exercise 39:

Find the 5th and 95th percentiles of an array.

In [ ]:
a=np.random.randint(10,size=10)
a

In [ ]:
np.percentile(a,5)

In [ ]:
np.percentile(a,95)

### Exercise 40:

Create a random 2x2 matrix and compute its determinant.

In [ ]:
a=np.random.random((2,2))
np.linalg.det(a)

### Exercise 41:

Count the number of elements in an array that are greater than the mean.

In [ ]:
a=np.array([1, 2, 3, 4, 5])
np.count_nonzero(a>a.mean())

### Exercise 42:

Calculate the square root of each element in a 1D array.

In [ ]:
a=np.array([4, 9, 16, 25])
np.sqrt(a)

### Exercise 43:

Create a 3x3 matrix and compute the matrix power 2.

In [ ]:
a=np.arange(9).reshape((3,3))
a

In [ ]:
np.linalg.matrix_power(a,2)

In [ ]:
a@a

### Exercise 44:

Convert the data type of an array to float.

In [ ]:
a=np.array([1, 2, 3, 4], dtype=int)
a.dtype

In [ ]:
a=a*1.0   #or a.astype(float)

In [ ]:
a.dtype

### Exercise 45:

Calculate the element-wise absolute values of an array.

In [ ]:
a = np.array([-1, -2, 3, -4])
np.abs(a)

### Exercise 46:

Find the indices where elements of two arrays match.

In [ ]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([3, 2, 8, 4, 5])
np.where(a==b)

### Exercise 47:

Calculate the cumulative sum of elements in a 1D array.

In [ ]:
a = np.array([1, 2, 3, 4, 5])
np.cumsum(a)

### Exercise 48:

Compute the inverse of a 2x2 matrix.

In [ ]:
a=np.random.randint(9,size=(2,2))
a

In [ ]:
a_1=np.linalg.inv(a)
a_1

In [ ]:
a@a_1

In [ ]:
a_1@a

### Exercise 49:

Count the number of non-zero elements in a 2D array.

In [ ]:
a = np.array([[0, 1, 0], [2, 0, 3], [0, 4, 0]])
a

In [ ]:
np.nonzero(a)

In [ ]:
np.count_nonzero(a)

### Exercise 50:

Create a 2D array and replace all nan values with 0.

In [ ]:
a = np.array([[1, np.nan, 3], [4, 5, np.nan], [7, 8, 9]])
a[np.isnan(a)]=0
a

### Exercise 51:

Find the correlation coefficient between two arrays.

In [ ]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([3, 4, 5, 6, 7])
np.corrcoef(a, b)[0,1]

### Exercise 52:

Create a 1D array and remove all duplicate values.

In [ ]:
a = np.array([1, 2, 3, 2, 4, 5, 1])
a=np.unique(a)
a

### Exercise 53:

Compute the element-wise product of two arrays.

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
a*b

### Exercise 54:

Calculate the standard deviation of each column in a 2D array.

In [ ]:
a=np.random.random((4,3))
a

In [ ]:
np.std(a,axis=0)

### Exercise 55:

Create a 2D array and set all values above a certain threshold to that threshold.

In [ ]:
a=np.random.randint(10,size=(4,3))
a

In [ ]:
a[a>5]=5
a

### Exercise 56:

Create a random 5x5 matrix and replace the maximum value by -1.

In [ ]:
a=np.random.random((5,5))
a

In [ ]:
np.where(a==np.max(a),-1,a)

In [ ]:
a.reshape((5*5))[np.argmax(a)]=-1
a

### Exercise 57:

Convert a 1D array of Fahrenheit temperatures to Celsius.

In [ ]:
Fahrenheit = np.array([32, 68, 100, 212])
Celsius = (Fahrenheit - 32) / 1.8
Celsius

### Exercise 58:

Compute the outer product of two arrays.

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
b*(a.reshape((3,1)))

In [ ]:
np.outer(a,b)

### Exercise 59:

Create a 1D array with 10 equidistant values between 0 and 1.

In [ ]:
np.linspace(0,1,10)

### Exercise 60:

Compute the cross product of two 3D arrays.

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.cross(a,b)

### Exercise 61:

Calculate the percentile along a specific axis of a 2D array.

In [ ]:
a=np.random.random((3,4))
a

In [ ]:
np.percentile(a,50,axis=0)

### Exercise 62:

Create a 1D array and add a border of 0s around it.

In [ ]:
a=np.arange(10)
a

In [ ]:
np.pad(a, (2, 2), mode='constant', constant_values=7)

### Exercise 63:

Compute the histogram of a 1D array.

In [ ]:
a = np.array([1, 1, 2, 2, 2, 3, 3, 3, 3])
np.histogram(a,bins=[1,2,3,4])

### Exercise 64:

Create a 2D array with random values and normalize each row.

In [ ]:
a=np.random.random((3,3))
a

In [ ]:
a/np.linalg.norm(a,axis=1)

### Exercise 65:

Create a random 2D array and sort it by the second column.

In [ ]:
a=np.random.randint(10,size=(3,4))
a

In [ ]:
a[:,1:].sort()
a

### Exercise 66:

Calculate the determinant of a 3x3 matrix

In [ ]:
a=np.random.randint(10,size=(4,4))
a

In [ ]:
np.linalg.det(a)

### Exercise 67:

Calculate the element-wise exponentiation of a 1D array.

In [ ]:
a = np.array([2, 3, 4])
np.exp(a)

### Exercise 68:

Calculate the Frobenius norm of a 2D array.

In [ ]:
a=np.array([[1, 2], [3, 4]])
a

In [ ]:
np.linalg.norm(a)

In [ ]:
np.sqrt(np.sum(a*a))

### Exercise 69:

Create a 2D array with random values and replace the maximum value with the minimum.

In [ ]:
a=np.random.random((4,4))*10
a

In [ ]:
a[np.unravel_index(np.argmax(a),a.shape)]=a.min()
a

### Exercise 70:

Compute the matrix multiplication of two 2D arrays.

In [ ]:
a = np.random.random((3, 4))
b = np.random.random((4, 5))
np.dot(a,b)

### Exercise 71:

Create a 1D array and set the values between 10 and 20 to 0.

In [ ]:
a=np.random.randint(30,size=14)
a

In [ ]:
a[~((a<10) | (a>20))]=0
a

### Exercise 72:

Compute the inverse hyperbolic sine of each element in a 1D array.

In [ ]:
a=np.array([-1,0,0.5,-0.5,1/3])
a

In [ ]:
np.arcsinh(a)

### Exercise 73:

Compute the Kronecker product of two arrays.

In [ ]:
a = np.array([1, 2])
b = np.array([3, 4])
np.kron(a,b)

### Exercise 74:

Calculate the mean absolute deviation of a 1D array.

In [ ]:
a=np.array([1,3,4,6])
np.mean(np.abs(a - np.mean(a)))

### Exercise 75:

Create a 3x3 matrix and set all values above the main diagonal to zero.

In [ ]:
a=np.random.random((3,3))
a

In [ ]:
a[np.triu_indices(3, 1)] = 0
a

### Exercise 76:

Count the number of occurrences of each unique value in a 1D array.

In [ ]:
a = np.array([2, 2, 1, 3, 3, 3, 4])
u,c=np.unique(a,return_counts=True)
np.vstack((u,c))

### Exercise 77:

Compute the cumulative product of elements along a given axis in a 2D array.

In [ ]:
a=np.random.randint(1,10,size=(4,3))
a

In [ ]:
np.cumprod(a,axis=0)

### Exercise 78:

Round elements of a 1D array to the nearest integer.

In [ ]:
a = np.array([1.2, 2.7, 3.5, 4.9])
np.around(a,0)

### Exercise 79:

Create a 1D array and append a new element to the end.

In [ ]:
a=np.array([1., 3., 4., 5.])
np.append(a,99)

### Exercise 80:

Calculate the element-wise absolute difference between two arrays.

In [ ]:
a = np.array([3, 7, 1, 10, 4])
b = np.array([2, 5, 8, 1, 7])
np.abs(a-b)

### Exercise 81:

Create a 2D array with random values and replace the maximum value in each row with -1.

In [ ]:
a=np.random.random((3,3))
a

In [ ]:
a[range(a.shape[0]),np.argmax(a,axis=1)]=-1
a

### Exercise 82:

Normalize the columns of a 2D array to have a sum of 1.

In [ ]:
a= np.random.random((3, 4))
a

In [ ]:
a/a.sum(axis=0)

### Exercise 83:

Find the indices of the top N minimum values in a 1D array.

In [ ]:
a = np.array([10, 5, 8, 1, 7])
N=3
np.sort(a)[:3]

### Exercise 84:

Convert the elements of a 1D array to strings.

In [ ]:
a = np.array([1, 2, 3, 4])
a.astype(str)

### Exercise 85:

Compute the percentile rank of each element in a 1D array.

In [ ]:
import numpy as np
from scipy.stats import percentileofscore
arr = np.array([1, 2, 3, 4, 5])
# Calculate percentile rank for each element in arr
percentile_rank = np.array([percentileofscore(arr, value) for value in arr])
print(percentile_rank)

### Exercise 86:

Create a 1D array and shuffle its elements randomly.

In [ ]:
a = np.array([1, 2, 3, 4, 5])
np.random.shuffle(a)
a

### Exercise 87:

Check if all elements in a 1D array are non-zero.

In [ ]:
a = np.array([1, 2, 3, 4, 5])
np.all(a!=0)

### Exercise 88:

Find the indices of the maximum value in each row of a 2D array.

In [ ]:
a=np.random.random((4,3))
a

In [ ]:
np.argmax(a,axis=1)

### Exercise 89:

Create a 2D array and replace all nan values with the mean of the array.

In [ ]:
a=np.array([[1, np.nan, 3], [4, 5, np.nan], [7, 8, 9]])
a

In [ ]:
a[np.isnan(a)]=np.nanmean(a)
a

### Exercise 90:

Calculate the mean of each row in a 2D array ignoring nan values.

In [ ]:
a=np.array([[1, 2, np.nan], [4, np.nan, 6], [7, 8, 9]])
a

In [ ]:
np.nanmean(a,axis=1)

### Exercise 91:

Compute the sum of diagonal elements in a 2D array.

In [ ]:
a=np.random.random((3,3))
a

In [ ]:
np.diag(a).sum()

In [ ]:
np.trace(a)

### Exercise 92:

Convert radians to degrees for each element in a 1D array.

In [ ]:
a = np.array([np.pi/2, np.pi, 3*np.pi/2])
np.rad2deg(a)

### Exercise 93:

Calculate the pairwise Euclidean distance between two arrays.

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.sqrt(((a-b)**2).sum())# or np.linalg.norm(a - b)

### Exercise 94:

Create a 1D array and set the values between the 25th and 75th percentile to 0.

In [ ]:
a = np.array([10, 20, 30, 40, 50])
a_25=np.percentile(a,25)
a_75=np.percentile(a,75)
a[(a>=a_25) & (a<=a_75)]=0
a

### Exercise 95:

Calculate the element-wise square of the difference between two arrays.

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.square(a-b)

### Exercise 96:

Replace all even numbers in a 1D array with the next odd number.

In [ ]:
a = np.array([2, 5, 8, 12, 15])
a[a % 2 == 0] += 1
a

### Exercise 97:

Create a 2D array and normalize each column by its range..

In [ ]:
a=np.random.random((3,3))
a

In [ ]:
(a-a.min(axis=0))/(a.max(axis=0)-a.min(axis=0))

### Exercise 98:

Compute the cumulative sum of elements along a given axis in a 2D array.

In [ ]:
a=np.random.random((3,4))
a

In [ ]:
np.cumsum(a,axis=1)

### Exercise 99:

Check if any element in a 1D array is non-zero.

In [ ]:
a=np.array([0, 0, 0, 1, 0])
np.any(a!=0)

### Exercise 100:

Create a 2D array with random integers and replace all values greater than a certain threshold with that threshold.

In [ ]:
a=np.random.randint(10,size=(4,4))
n=5
a

In [ ]:
a[a>n]=n
a